body {
  font-family: Helvetica;
  text-align: center;
}

.header h1 {
  background-image: url("resources/images/the-flatiron-building.png");
  color: red;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h3.title-wh {
  background-image: url("./resources/images/the-flatiron-building.png");
  color: white;
}

p {
  font-size: 14px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
